th[class^="reactable-th"] {
    cursor: pointer;
}

.reactable-previous-page,
.reactable-next-page {
    @extend .button;
}

.reactable-page-button {
    margin: 0 $spacing-unit;
}

.active {
    background: #B0D8C0;
}

.button#to-competitions {
    margin-right: $spacing-unit;
}

.button#new-submission {
    cursor: pointer;
}
